<h2 mat-dialog-title>Add Category</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="CreateForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter Category Name</mat-label>
          <input type="text" matInput formControlName="catName" placeholder="enter">
         
          <mat-error *ngIf="CreateForm.controls['catName'] hasError('required')">
            Category is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      </form>

      <!-- <form [formGroup]="CreateForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter Image Name</mat-label>
          <input type="text" matInput formControlName="imageName" placeholder="enter">
         
          <mat-error *ngIf="CreateForm.controls['imageName'] hasError('required')">
            image is <strong>required</strong>
          </mat-error> 
        </mat-form-field>
      </form> -->
      <form [formGroup]="CreateForm" class="example-form">
          <input type="file" #file placeholder="choose image"
          formControlName="imageName" (change)="uploadFile(file.files)"
          style="display: none;">
          <button (click)="file.click()">Upload Image</button>
        </form>
      
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="save()" cdkFocusInitial>Save </button>
</mat-dialog-actions>

