<h2 mat-dialog-title>Add Category</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="CreateForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter Product Name</mat-label>
          <input type="text" matInput formControlName="proName" placeholder="enter">
         
          <mat-error *ngIf="CreateForm.controls['proName'] hasError('required')">
            Product Name is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      </form>
      <form [formGroup]="CreateForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter Product Price</mat-label>
          <input type="number" matInput formControlName="proPrice" placeholder="enter">
         
          <mat-error *ngIf="CreateForm.controls['proPrice'] hasError('required')">
            Product Price is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      </form>

    
      <form [formGroup]="CreateForm" class="example-form">
        <input type="file" #file placeholder="choose image"
        formControlName="imageName" (change)="uploadFile(file.files)"
        style="display: none;">
        <button (click)="file.click()">Upload Image</button>
      </form>

      <form [formGroup]="CreateForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter categoryID</mat-label>
          <input type="number" matInput formControlName="categoryID" placeholder="enter">
         
          <mat-error *ngIf="CreateForm.controls['categoryID'] hasError('required')">
            categoryID is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      </form>
      


      <!-- <form [formGroup]="CreateForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter Image Name</mat-label>
          <input type="text" matInput formControlName="imageName" placeholder="enter">
         
          <mat-error *ngIf="CreateForm.controls['imageName'] hasError('required')">
            image is <strong>required</strong>
          </mat-error> 
        </mat-form-field>
      </form> -->
   
      
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="save()" cdkFocusInitial>Save </button>
</mat-dialog-actions>

