<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <app-dashboard></app-dashboard>
    <div class="content-wrapper"> <!--204-->
        <div class="container-fluid">
           <!-- Icon Cards-->
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-comments"></i>
                  </div>
                  <div *ngFor="let userReg of userRegisService.data" class="mr-5">{{userReg.numOfCus}} User Registered</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-comments"></i>
                  </div>
                  <div *ngFor="let userRegg of userRegisService.ddata" class="mr-5">{{userRegg.anuualTotal}} User Registered</div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <footer class="sticky-footer">
            <div class="container">
              <div class="text-center">
                <small>Copyright © Your Website 2018</small>
              </div>
            </div>
          </footer>
    </div>
</body>

