<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">&nbsp;&nbsp;&nbsp;&nbsp;Hyper-Market</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="admin/content">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span class="nav-link-text"> Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" >
            <i class="fa fa-server"></i>
            <span class="nav-link-text" (click)="goTocategory()"> Manage Categories</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link">
            <i class="fa fa-cogs" aria-hidden="true"></i>

            <span class="nav-link-text" (click)="goToproduct()"> Manage Products</span>
          </a>
        </li>
         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link">
            <i class=" 	fa fa-street-view"></i>
            <span class="nav-link-text" (click)="goToViewUserRegis()"> View Registered Users</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="nav-link-text" (click)="goToProfile()"> View Profile</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="nav-link-text" (click)="goToViewReports()"> View Sale Reports</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link">
            <i class="fa fa-search" aria-hidden="true"></i>
            <span class="nav-link-text" (click)="goTosearch()"> Search On Orders</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" >
            <i class="fa fa-folder-open" aria-hidden="true"></i>
            <span class="nav-link-text" (click)="goToPages()"> Manage Pages</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
            <a class="nav-link" >
              <i class="fa fa-terminal"></i>
              <span class="nav-link-text"(click)="clear()"> LogOut</span>
            </a>
          </li>
      </ul>
     
    </div>
  </nav>
 