<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <app-dashboard></app-dashboard>
  <div class="content-wrapper"> <!--204-->
    <div class="container-fluid">
     
      <div class="row">
  
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success mb-3 o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-sliders" aria-hidden="true"></i>

              </div>
              <div class="mr-5">Manage Home Sliders</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="admin/manageSlider">
              <span class="float-left" >Go To Manage Section</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
    
    
    
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-secondary mb-3  o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-list"></i>
                  </div>
                  <div class="mr-5">Manage Home Texts</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="admin/manageTexts">
                  <span class="float-left">Go To Manage Section</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
    
    
    
        </div>
  
    </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © HyperMarket 2022</small>
        </div>
      </div>
    </footer>
  </div>
</body>