

<app-header></app-header>
<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img  src="../../assets/images/{{sliderService.data[1].image}}"  width="1500px" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h1 style="color: goldenrod;">{{homepageService.data[0].ftext}}</h1>
        <h2 style="color: black;">{{homepageService.data[6].ftext}}</h2>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/{{sliderService.data[2].image}}"  width="1500px" height="1200px" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h1 style="color: goldenrod;">{{homepageService.data[7].ftext}}</h1>
        <h2 style="color: black;">{{homepageService.data[2].ftext}}</h2>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/{{sliderService.data[0].image}}"  width="1500px" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h1 style="color: goldenrod;">{{homepageService.data[4].ftext}}</h1>
        <h2 style="color: black;">{{homepageService.data[1].ftext}}</h2>
      </div>
    </ng-template>
  </ngb-carousel>


<!-- category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">{{homepageService.data[5].ftext}}</h1>
        </div>
        <div class="row g-4" >
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let category of home.product">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="../../assets/images/{{category.imageName}}" alt=""style="width:600px ; height:350px;" >
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h1 class="mb-3" style="font-weight: bold;">{{category.catName}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- category End -->

<!-- product Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5"> {{homepageService.data[3].ftext}} </h1>
        </div>
        <div class="row g-3"*ngFor="let item of home.product">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s"*ngFor="let item2 of item.products" >
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="../../assets/images/{{item2.imageName}}" alt=""style="width:600px ; height:350px;">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h2 class="mb-3"  style="font-weight: bold;">{{item2.proName}}</h2>
                        <h3  style="font-weight: bold;">price : {{item2.proPrice}}$</h3>
                        <h4  style="font-weight: bold;">Barcode:{{item2.barCode}}</h4>
                        <p style="display: none;">{{item2.proID}}</p>
                        <a class="fw-medium"  href=""(click)="AddProduct(item2.proID)"> <button class="btn btn-primary" >  Add Cart <i class="fas fa-cart-plus"></i> </button><i class="fa ms-2"></i></a>             
                           </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product End -->


   <!-- Contact Start -->
   <div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
    <div class="container contact px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="section-title text-start">
                        <h1 class="display-5 mb-4"> Contact Us </h1>
                    </div>
                    <p class="mb-4">Contact Us about anything you need us to know or investigate about , Feel free the inform us with anything</p>
                    <form [formGroup]="CreateForm">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input formControlName="name" type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input formControlName="subject" type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea formControlName="message" class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button (click)="save()" class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.0524841234746!2d35.85546941444572!3d31.959472832526867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca10efc21a31d%3A0x6e8f71c86248f350!2s7th%20Cir.%2C%20Amman!5e0!3m2!1sen!2sjo!4v1649658919890!5m2!1sen!2sjo" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<!-- Testimonial Starts -->

 <!-- Testimonial Starts -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="section-title text-center">
          <h1 class="display-5 mb-5"> Testimonial</h1>
      </div>
      <div class="row " >
          <div class="col-md-6 col-lg-4 wow fadeInUp coll-lg-4" data-wow-delay="0.1s">
            <section class="policy-product ">
              <owl-carousel-o  [options]="customOptions">
                <ng-template *ngFor="let ss of testimonial.data" carouselSlide>
                  <div class="col-md-9 mb-8 mb-md-0">
                    <div class="card testimonial-card">
                      <div class="card-up" style="background-color: #7a81a8;"></div>
                      
                      <div class=" ">
                        <img src="../../assets/images/{{ss.image}}"  width="304" height="240" />
                      </div>
                      
                      <div class="card-body text-center">
                        <h4 class="mb-4 bold"><b>{{ss.name}}</b></h4>
                        <hr />
                        <p class="dark-grey-text mt-4" style="height: 70px;">
                          <i class="fas fa-quote-left pe-2" ></i>{{ss.comment}}
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </owl-carousel-o>
              </section>
          </div>
      </div>
  </div>
</div>
  
<app-footer></app-footer>